<div id="about-me-page">
  <span class="about-header">Hi, I'm Morgan.</span><br><br>
  <div id="about-me-pic"><%= image_tag("morgan.jpg")%></div>
    <p>
      <b>I am a Software Engineer at <a href="http://www.sprconsulting.com" target="_blank">SPR Consulting.</a></b> I've been working with Java and AngularJS by day, and Python and ReactJS by night. As someone who also appreciates developer-friendly code, writing clean code is one of my highest values.
    </p>

    <p>
      <b>I actively mentor Phase 0 students at <a href="http://www.devbootcamp.com" target="_blank">Dev Bootcamp</a> as a Phase 0 Guide.</b> This includes supervising them through guided pairing sessions, conducting office hours, and providing code reviews.
    </p>

    <p>
      <b>I am extremely passionate about the women in tech movement, particularly fostering career growth for women in tech.</b> I believe this can be achieved by both recruiting more women into the field and retaining them once they are here. I gave my first conference presentation last year at <a href="http://www.thatconference.com" target="_blank">That Conference</a> on this very topic.
    </p>

    <p>
      I graduated from <a href="http://www.devbootcamp.com" target="_blank">Dev Bootcamp</a> in May 2015. I fell in love with coding so much that I quit my job and dropped out of graduate school to enroll in DBC full-time. It is one of the best decisions I have ever made.
    </p>

    <p>
      When I am not programming, I am an avid runner. I ran the <a href="http://www.rundisney.com/disneyworld-marathon/" target="_blank">Walt Disney World Marathon</a> in January 2016, which was my first marathon. I am hoping to compete in the <a href="https://www.chicagomarathon.com/" target="_blank">Chicago Marathon</a> this coming fall.<br><br>
    </p>
</div>