<div id="contact-page">
  Follow me on Twitter: <a href="http://www.twitter.com/morganmccrory">@morganmccrory</a><br><br>
  Or send me an email: <a href="mailto: morganmccrory@gmail.com">morganmccrory@gmail.com</a>
</div>

